body{
	margin: 0;
	padding: 0;

}

#body-container{
	width: 415px;
	height: 500px;
	margin: 0 auto; /*senter */
	border: 1px solid #3285ef; /*ramme */
}

#body-container .glossary-container{
	clear: both; /*  tillater ikke flytelementer ;) */
}

#body-container .content-container{
	height:	430px;
	width:	415px;
	overflow: auto; /*  rullefelt når innholdet er større en høyden*/
	font-family: 'Arial', Veranda,Tahoma;
	font-size:	10pt;
	clear:	both;
}

#body-container .content-container div{
	padding-left: 10px;
	border-bottom: 1px #666666 solid; /* skiller gruppene med en nedre grå strek*/
}

#body-container .content-container p.return-to-top{
	color: #0066FF;
	text-decoration: underline;
	text-align: right; /*marg justeres til høyre*/
	margin-right: 10px;
	cursor: pointer; /*kursøren blir til en "hånd"*/
}

.firstUL{
	padding: 0px 0px 0px 10px; /*utfylling mot venstre, topp, høyre, bunn*/
	margin: 0px;
	background-color: #3285ef;
}

.firstUL li{
	background: transparent url(link_sprite_img.jpg) no-repeat scroll 0 0;
	display: inline;
	font-family: 'Arial', Veranda,Tahoma;
	font-size:	16pt;
	font-weight: bold;
	padding: 10px 15px 22px; /*utfylling sider*/
	line-height: 70px;
	cursor: pointer;
}

/*0 -57px når jeg skal bruke nederste del, da bildet er 114px*/

.firstUL li.selected{
	background: transparent url(link_sprite_img.jpg) no-repeat scroll 0px -57px;
	color: #ffffff;
	font-weight: bold;
}











